<a href="https://colab.research.google.com/github/noswolf/DSA_BIT/blob/master/Week1/DSA_Week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import required libraries

In [1]:
import time
import numpy as np
import matplotlib.pyplot as plt

# Benchmark Analysis

Iterative version of sum function

In [2]:
def sumOfN1(n):
   theSum = 0
   for i in range(1,n+1):
      theSum = theSum + i
   return theSum

In [3]:
# Start timer
start = time.time()
# Execute function
total_sum = sumOfN1(10000)
# Record time after function finishes
end = time.time()

# Take difference to record time used
running_time = end-start

print("Total Sum: %d"%total_sum)
print("Time executed: %10.7f seconds"%running_time)

Total Sum: 50005000
Time executed:  0.0010324 seconds

Summation using equation

In [4]:
def sumOfN2(n):
   return (n*(n+1))/2

In [5]:
# Start timer
start = time.time()
# Execute function
total_sum = sumOfN2(10000)
# Record time after function finishes
end = time.time()

# Take difference to record time used
running_time = end-start

print("Total Sum: %d"%total_sum)
print("Time executed: %10.7f seconds"%running_time)

Total Sum: 50005000
Time executed:  0.0000751 seconds

# Big-O notation

Factorial - O(n)

In [6]:
def factorial1(n):
  if n <= 1:
    return 1
  else:
    fact = 1
    for num in range(2,n+1):
      fact *= num
    return fact

In [7]:
factorial1(10)

3628800

Separate loops are O(n)

In [8]:
test = 0
n = 100
for i in range(n):
   test = test + 1

for j in range(n):
   test = test - 1

Value i is cut in half each time through the loop so it is O(log n)

In [9]:
i = n
while i > 0:
   k = 2 + 2
   i = i // 2

## Nested Loops

### Simple - O(n<sup>2</sup>)

In [10]:
def simple(n):
  for i in range(n):
    for j in range(n):
      print("i: {0}, j: {1}".format(i,j))

In [11]:
simple(3)

i: 0, j: 0
i: 0, j: 1
i: 0, j: 2
i: 1, j: 0
i: 1, j: 1
i: 1, j: 2
i: 2, j: 0
i: 2, j: 1
i: 2, j: 2

### Element Uniqueness

First version - O(n<sup>2</sup>)

In [12]:
def unique1(s):
  for i in range(len(s)):
    for j in range(i+1, len(s)):
      if s[i] == s[j]:
        return False            # Found duplicate pair
  return True                   # All elements are unique

In [13]:
print(unique1(['a','b','a']))
print(unique1(['a','b','c']))

False
True

Second version - O(n log n)

In [14]:
def unique2(s):
  temp = sorted(s)              # create a sorted copy of s - O(n log n)
  for i in range(1, len(temp)):
    if temp[i-1] == temp[i]:
      return False              # Found duplicate pair
  return True                   # All elements are unique

In [15]:
print(unique2(['a','b','a']))
print(unique2(['a','b','c']))

False
True

### Prefix Averages

- Example usage: Track average daily web usage over various time periods.

First version - O(n<sup>2</sup>)

In [16]:
def prefix_average1(s):
  n = len(s)
  a = [0] * n             # create list of n zeros
  for i in range(n):
    total = 0             # compute each element
    for j in range(i+1):
      total += s[j]
    a[i] = total / (i+1)  # record the average
  return a

In [17]:
prefix_average1([10,20,90,100])   # Average of 1 day, 2 days, 3 days, and so on.

[10.0, 15.0, 40.0, 55.0]

Second version - O(n<sup>2</sup>)

In [18]:
def prefix_average2(s):
  n = len(s)
  a = [0] * n                   # create list of n zeros
  for i in range(n):
    a[i] = sum(s[0:i+1])/(i+1)  # record the average
  return a

In [19]:
prefix_average2([10,20,90,100])   # Average of 1 day, 2 days, 3 days, and so on.

[10.0, 15.0, 40.0, 55.0]

Third version (linear) - O(n)

In [20]:
def prefix_average3(s):
  n = len(s)
  a = [0] * n             # create list of n zeros
  total = 0
  for i in range(n):
    total += s[i]         # update total sum to include s[i]
    a[i] = total / (i+1)  # compute average based on current sum
  return a

In [21]:
prefix_average3([10,20,90,100])   # Average of 1 day, 2 days, 3 days, and so on.

[10.0, 15.0, 40.0, 55.0]

## Logarithmic loops O(log n)

In [38]:
i=1
while i<1000:
  print(i)
  i *= 2

1
2
4
8
16
32
64
128
256
512

In [39]:
i = 1000
while i>=1:
  print(i)
  i //= 2

1000
500
250
125
62
31
15
7
3
1

In [40]:
np.log2(1000)

9.965784284662087

# Exercises

**Example 1: O(?)**

In [22]:
def example1(s):
  n = len(s)
  total = 0
  for i in range(n):    # loop from 0 to n-1
    total += s[i]
  return total

**Example 2: O(?)**

In [23]:
def example2(s):
  n = len(s)
  total = 0
  for i in range(0,n,2):  # Increment of 2
    total += s[i]
  return total

**Example 3: O(?)**

In [24]:
def example3(s):
  n = len(s)
  total = 0
  for i in range(n):      # loop from 0 to n-1
    for k in range(1+i):  # loop from 0 to i
      total += s[k]
  return total

**Example 4: O(?)**

In [25]:
def example4(s):
  n = len(s)
  prefix = 0
  total = 0
  for i in range(n): 
    prefix += s[i]
    total += prefix
  return total

**Example 5: O(?)**

In [26]:
# Assume that A and B have equal length of n
def example5(A,B):  
  n = len(A)
  count = 0
  for i in range(n):        # loop from 0 to n-1
    total = 0
    for j in range(n):      # loop from 0 to n-1
      for k in range(1+j):  # loop from 0 to j
        total += A[k]
    if B[i] == total:
      count += 1
  return count